{{#if mostrarRegister}}
    <form method="POST">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="password2"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Password" name="password2" required>

        <label for="email"><b>E-mail</b></label>
        <input type="email" placeholder="youremail@gmail.com" name="email" required>

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastName" required>

        <label for="firstName"><b>First Name </b></label>
        <input type="text" placeholder="Enter First Name" name="firstName" required>

        <label for="phoneNumber"><b>Phone Number </b></label>
        <input type="text" placeholder="Enter Phone Number" name="phoneNumber" required>

        <button type="submit" class="btn">Register</button>
    </form>
{{/if}}